form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-end;


    input[type=text] {
        width: calc(100% - 33px);
        appearance: none;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid white;
        margin: 0;
        font-size: 23px;
        border-radius: 0;
        outline: none;
        padding: 5px 5px 0px 5px;
        color: white;
        &::placeholder {
            color: white;
        }

        &:focus {
            outline: none;
        }
    }


    .btn {
        appearance: none;
        font-size: 23px;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        text-align: center;
        &.btn-primary {
            background-color: white;
            color: $iconColor;
            width: 33px;
            transition: color 0.2s ease-in-out;
            &:hover {
                color:$darkColor;
            }
        }
        &:focus {
            outline: none;
        }
    }


}