form {
    width: 100%;
    display: flex;


    input[type=text] {
        width: 100%;
        appearance: none;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $darkColor;
        margin: 0;
        font-size: 30px;
        padding: 0;
        color: white;
        &:focus {
            outline: none;
        }
    }


    .btn {
        appearance: none;
        font-size: 30px;
        margin: 0;
        border: none;
        cursor: pointer;
        &.btn-primary {
            background-color: $darkColor;
            color: $iconColor;
            transition: color 0.2s ease-in-out;
            &:hover {
                color:#58edb3;
            }
        }
        &:focus {
            outline: none;
        }
    }


}