ul.to-do-list {
    padding: 10px 5px;
    margin: 0;
    list-style: none;
    position: relative;
    .error {
        font-size: 11px;
        position: absolute;
        top: 5px;
        left: 5px;
        display: none;
        &.open {
            display: block;
        }
    }
    .item {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 5px -1px #000000;
        padding: 10px;
        border-radius: 5px;
        li {
            width: 78%;
            font-size: 16px;
            word-break: break-all;
            &:focus {
                outline: 0;
                border-bottom: 1px solid white;
            }
        }
        i {
            font-size: 20px;
            width: 10%;
            text-align: right;
            height: auto;
            transition: all 0.2s ease-in-out;
            &:hover {
                color: $iconColor;
            }
            &#editable {
                color: $gradientOneColor2;
            }

            &.fa-trash {
                &:hover {
                    color: #bf4545;
                }
            }
        }
    }
}