ul.to-do-list {
    padding: 20px 10px;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    list-style: none;
    position: relative;
    .error {
        font-size: 11px;
        position: absolute;
        top: 5px;
        left: 5px;
        display: none;
        &.open {
            display: block;
        }
    }
    .item {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 7px 0;
        li {
            width: 78%;
            font-size: 18px;
            word-break: break-all;
            &:focus {
                outline: 0;
                border-bottom: 1px solid $darkColor;
            }
        }
        i {
            font-size: 30px;
            width: 10%;
            text-align: center;
            height: auto;
            transition: all 0.2s ease-in-out;
            &:hover {
                color: $darkColor;
            }
            &#editable {
                color: $gradientOneColor2;
            }
        }
    }
}