ul.to-do-list {
    // list-style: none;
    padding: 20px 10px;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    list-style: none;
    .item {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 5px 0;
        li {
            word-break: break-all;
        }
    }
}