$darkColor: #333333;
$iconColor: #5d5d5d;

$gradientOneColor1: rgba(9,163,235,1);
$gradientOneColor2: rgba(59,219,183,1);

$darkTransparent: rgba(0,0,0,0.5);


$gradientColor1: linear-gradient(125deg, rgba(149,57,217,0.9995185574229691) 33%, rgba(94,59,219,1) 33%, rgba(57,217,185,1) 75%, rgba(9,145,235,1) 75%);

$gradientColor2: linear-gradient(125deg, rgba(91,42,214,0.9995185574229691) 33%, rgba(204,60,60,1) 33%, rgba(237,157,44,1) 75%, rgba(99,19,142,1) 75%);

$gradientColor3: linear-gradient(125deg, rgba(0,0,0,1) 33%, rgba(62,60,204,1) 33%, rgba(237,44,44,1) 75%, rgba(0,0,0,1) 75%);